#app {
  margin: 5% 10%;
  border: 2px solid;
}

.selected, .selected:hover, .selected:focus, .selected:focus:not(:active){
  background-color: #D0F0C0;
  box-shadow: none;
  border: 2px outset #dbdbdb;
}

.default-button, .default-button:hover, .default-button:focus:not(:active), .default-button:focus{
  box-shadow: none;
  border: 2px outset #dbdbdb;
}